{% extends 'base.html'%}
{% import "bootstrap/wtf.html" as wtf%}

{% block content %}
<div class="container home">
    <div class="image image-full rounded-lg border-bottom">
        <h2 class="image-title">{{image.title}}</h2>
        <img class="image-url" src="{{image.orgUrl}}" width="500px" height="500px">{{image.title}}</img></a>
        <h4 class="image-details">by {{image.user|capitalize}}</h4>
        <a href="{{image.orgUrl}}" download="{{image.title}}.jpg">download</a>
    </div>
</div>
{% endblock %}