.home{
    padding : 10px;
}

.image{
    background-color: aliceblue;
    padding: 20px;
    margin-top: 10px;
    width: auto;
}

.upload-form, .login-form, .register-form{
    padding: 20px;
    margin:30px auto; 
    width: 40%;
}

.image-title{
    font-weight: 1000;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: xx-large;
    padding-bottom: 10px;
}

.image-details{
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
}

